[submodule "thirdparty/love-misc-libs"]
	path = thirdparty/love-misc-libs
	url = https://github.com/bartbes/love-misc-libs
[submodule "thirdparty/middleclass"]
	path = thirdparty/middleclass
	url = https://github.com/kikito/middleclass
[submodule "thirdparty/Slab"]
	path = thirdparty/Slab
	url = https://github.com/coding-jackalope/Slab
[submodule "namegen"]
	path = namegen
	url = https://github.com/LukeMS/lua-namegen
